# رابط الـ CSV المباشر لـ Google Sheet
GOOGLE_SHEET_CSV_URL="https://docs.google.com/spreadsheets/d/e/2PACX-1vS0KMamBEhCgLLWA4TEsYLz9uvxBE-EShQ0kBON0tYut-dZrBm4BDfuDgf23rD4KlWTt_PgCf--4vQz/pub?output=csv"

# رقم الواتساب الرسمي
NEXT_PUBLIC_WHATSAPP_NUMBER="201044760160"
