@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;600;700;800;900&display=swap');

body {
  font-family: 'Cairo', sans-serif;
  background-color: #fbf9f4;
  color: #1e382b;
  -webkit-tap-highlight-color: transparent;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: #f1ede4;
}
::-webkit-scrollbar-thumb {
  background: #c89d56;
  border-radius: 4px;
}
